<h2>Login Form</h2>
<div class="row">
    <!--Form-->
    <div class="col">
        <div class="card-body">
            <form [formGroup]="loginForm" (ngSubmit)="onLogin();">
                <div class="form-group">
                    <label for="emial">Email </label>
                    <input type="email" placeholder="Enter Email address" ngModel [email]="true" formControlName="email" 
                    class="form-control" [ngClass]="{ 'is-invalid': submitted && formControl.email.errors}"/>
                    <div *ngIf="submitted && formControl.email.errors" class="invalid-feedback">
                        <div *ngIf="formControl.email.errors">  Enter a valid email address!</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password"> Password</label>
                    <input type="password" placeholder="Enter Password"  formControlName="password" 
                    class="form-control" [ngClass]="{ 'is-invalid': submitted && formControl.password.errors }" />
                    <div *ngIf="submitted && formControl.password.errors" class="invalid-feedback">
                        <div *ngIf="formControl.password.errors.required">Password is required</div>
                        <div  *ngIf="formControl.password.errors?.minlength">Password must be at least 6 characters long.</div>
                    </div>
                </div>
                <div class="form-group pd-10">
                    <button type="submit" class="btn btn-outline-primary  mr-5">Login</button>
                    <button class="btn btn-outline-primary mr-5" (click)="toSignUp()">SignUp</button>
                    <!-- <button type="reset" class="btn btn-outline-primary">SignUp</button> 
                    <a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                    class="nav-link">SignUP</a>    -->         
                </div>
            </form>
        </div>
    </div>
    <!--Form 
    <div class="col">
        <div class="card">
            <div class="card-header">Form Value</div>
            <pre><label>Name : </label>{{formControl.username.value}}</pre>
            <pre><label>Password : </label> {{formControl.password.value}}</pre>
        </div>
    </div>
</div>Value-->
